@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
    font-family: 'Lato', sans-serif; 
}

/*----- Quizzes -----*/
.center {
    padding: 60px;
}

.details_quiz  {
    padding: 1rem 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.details_quiz img {
    max-width:90%;
    max-height:100%;
    width: auto;
    height: auto;
}

.details_quiz button {
    border: none;
    outline: 0;
    margin-top: 2%;
    height: 55px;
    width: 90%;
    font-size: 20px;
    color: white;
    background-color: #e9b480;
    cursor: pointer;
  }
  .details_quiz button:hover {
    background-color: #d4904c;
  }


/*----- Formulários de Registo e Login -----*/
/* Botões no menu */
.btn-info {
    background-color: #f8dc8a; /*#17b68e*/
    border-color: #e0b424;  /*##26a773*/
    color: black;
}
.btn-info:hover {
    background-color: #ddb43b;
    border-color: #f8dc8a;
}
.btn-outline-info {
    border-color: #f8dc8a;
}
.btn-outline-info:hover {
    background-color: #ddb43b;
    border-color: #e0b424; 
}
/* Posição e tamanho dos botões de cancelar e registar */
.cancelbtn, #Menubuttons {
    float: left;
    padding: 14px 20px;
    width: 50%;
    height: 50%;
}

.cancelbtn:hover {
    background-color:#f44336;
}
  
/* Conteúdo do modal (padding) */
.container {
    padding: 16px;
}
.container label {
    text-align: left;
}
/* Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
}
  
/* Caixa Modal */
.modal-content {
    text-align: left;
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 10px solid #d3802e;
    width: 30%; /* Reduzir caso fique muito grande */
}
  
/* Linha horizontal do registo*/
.modal hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
   
/* Botão de fechar modal (x) 
  
/* Limpar floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Campos de input */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Adicionar uma cor de fundo nos inputs*/
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/*----- Footer -----*/
footer {
    background-color: #e4e4de;
    color: black;
    padding: 1rem 0 1rem;
    margin-top:  1rem;
    text-align: center;
    bottom:0;
}

footer img {
    height: 100px;
    margin: 1rem 0;
}

footer a {
    color: black;
}
.svg-inline--fa {
    font-size: 1.5rem;
    margin: 1.2 0.5rem;
}

.svg-inline--fa:hover {
   color: #d3802e;
}

.footerHr {
    width: 100%;
    border-top: .3rem solid #bb8958;
    margin-top: 1rem;
}

p a:hover {
    color: #d3802e;
}

.erro
{
    color: #f44336;
}

/*Dashboard*/
.centerdash {
    padding: 2%;   
}

